a{
	color:cyan;
}
body{
    background-image:url("bg/stars.png");
    color:#FFFFFF;
}
#marisa{
	position:absolute;
	left:40px;
	bottom:20px;
}
#reimu{
	position:absolute;
	right:40px;
	bottom:20px;
}
